<!-- <a [routerLink]="['']"></a> -->
<div class="itemInfo">
  <div class="item" *ngFor="let data of httpdata; let i = index " >
    <h3>{{data.title}}</h3>
    <!-- <img src="/imgs/rachel/WhatsApp Image 2018-10-24 at 15.24.06.jpeg" alt=""> -->
    <!-- <img src="{{data:image}}" alt=""> -->
      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQssTnDfpWP00oLIien7PYSJi2ZKHeSS_n7CJbE7XTu_iolWzP0"
        alt=""> -->
 


    <h6>price: {{data.price | currency:'ILS' : 'symbol' : '1.0'}} </h6>
    <link rel="icon" type="image/x-icon" href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwin_ebx8NLgAhXL2aQKHcxSDeIQjRx6BAgBEAU&url=http%3A%2F%2Fwww.everysecond.io%2Ffacebook&psig=AOvVaw3ivOKWtGynhaGHDo-HPhFo&ust=1551046566893396">
    <div class="links">
      <!-- <a href="https://www.facebook.com/" target="_blank"><img src="../../assets/facebook.png" alt=""></a> -->
    </div>


  </div>

  
</div>

